/* ----------------------------------
 * Form Page Layout
 * ---------------------------------- */
html{
    height: 100%;
}

.form-page {
    min-height: 100%;
    padding: 0;
    background: #313941;
    color: #FFFFFF;
}

.form-page * {
    box-sizing: border-box;
}

.form-page .app-name {
    margin: 50px auto 30px;
    font-size: 30px;
    text-align: center;
}

.form-page .app-name:before {
    font-family: 'Glyphicons Regular';
    font-style: normal;
    font-weight: normal;
    vertical-align: -3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E151";
}

.form-page .app-slogan {
    color: #9299a1;
    font-size: 22px;
    line-height: 1.25;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .form-page .app-name {
        margin: 80px auto 50px;
        font-size: 40px;
    }

    .form-page .app-slogan {
        margin: 0 0 90px;
        font-size: 26px;
    }
}

.form-page .form-wrapper, .form-page .description-wrapper {
    padding: 0 35px;
}

.form-page legend {
    text-align: center;
    font-weight: 300;
    color: white;
    margin: 0 auto 30px;
    border: 0;
    font-size: 26px;
    line-height: 26px;
}

.form-page ::-webkit-input-placeholder {
    color: #afafaf;
}

.form-page :-moz-placeholder {
    /* Firefox 18- */
    color: #afafaf;
}

.form-page ::-moz-placeholder {
    /* Firefox 19+ */
    color: #afafaf;
}

.form-page :-ms-input-placeholder {
    color: #afafaf;
}

.form-page .sub {
    text-align: center;
    color: white;
    margin: 20px auto
}

.form-page .sub a {
    font-weight: bold;
    color: #FFFFFF;
}

.form-page .sub a:hover {
    color: #E7F1F9
}

.form-page .sub p {
    margin-bottom: 40px
}

.form-page .form-control {
    background: #fcfcfc;
    margin: 5px auto;
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 3px;
    border: 2px solid transparent;
    font-size: 18px;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
}
.form-page .has-success .form-control {
    border: 2px solid transparent;
}
.form-page .has-error .form-control {
    border: 2px solid #dc3023;
}

.form-page .form-control:active,
.form-page .form-control:focus,
.form-page .form-control:hover {
    box-shadow: none;
    outline: none;
}

.form-page .form-wrapper .btn {
    color: white;
    border: 0;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    height: auto;
    margin-top: 5px;
    padding: 13px;
    width: 100%;
    display: block;
    border-radius: 3px;
    transition: opacity 0.4s;
}

.form-page .btn:focus,
.form-page .btn:active,
.form-page .btn:hover {
    outline: 0 none !important;
    box-shadow: none !important;
}

.form-page .links {
    color: #FFFFFF;
    text-align: center;
    margin: 15px auto
}

.form-page .links a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}
.form-page .links a:hover {
    color: #c9d2db;
}

.form-page .well {
    background-color: #FFFFFF;
}

.form-page .well p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .form-page legend {
        font-size: 24px;
        line-height: 24px;
    }
}