/* ----------------------------------
 * Setup Wizard Layout
 * ---------------------------------- */
html{
    height: 100%;
}

.setup-page {
    min-height: 100%;
    padding: 0;
    background: #313941;
}

.setup-page * {
    box-sizing: border-box;
}

.setup-page .panel {
    margin: 110px auto;
}

.setup-page .app-name {
    margin: 0 0 3px 0;
    font-size: 26px;
}

.setup-page .app-name:before {
    font-family: 'Glyphicons Regular';
    font-style: normal;
    font-weight: normal;
    vertical-align: -3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E151";
}

.setup-page .list-group-item-current {
    background-color: #eff3f6;
    border: transparent;
}

.setup-page .form-wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
}

.setup-page .step-title {
    font-weight: bold;
}
