body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 10px;
    position: relative;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
}
.wrap > .container {
    padding: 20px 15px;
}

/* ----------------------------------
 * example
 * ---------------------------------- */
.example {
    margin-bottom: 20px;
}
.example .example-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}
.example .example-title span {
    font-weight: normal;
    font-size: 14px;
    color: #ed5565;
}
.example [class*="col-"] {
    margin-bottom: 10px;
}
.example-dropdown h2 + .dropdown-menu,
.example-popover .popover,
.example-modal .modal {
    position: static;
    display: block;
}
.example-dropdown h2 + .dropdown-menu {
    float: none;
    width: 200px;
}
.example-popover .popover {
    position: relative;
}
@media (max-width: 960px) {
    .tooltip-demo [class*="col-"] {
        text-align: center;
    }
    .tooltip-demo [class*="col-"] .btn-block {
        display: inline-block;
        margin: 0 auto;
        width: 160px;
    }
}
.example-popover [class*="col-"]:nth-of-type(1) .popover {
    margin-top: 0;
}
.example-popover [class*="col-"]:nth-of-type(3) .popover,
.example-popover [class*="col-"]:nth-of-type(4) .popover {
    margin-top: 40px;
}
.example-progress [class*="col-"]:last-child .progress {
    margin-bottom: 10px;
}
.example-pagination .pagination,
.example-pagination .pager {
    margin: 0 !important;
}

.example-modal .modal {
    overflow: hidden;
}
@media (min-width: 768px) {
    .example-modal .modal-dialog {
        width: 545px;
        margin: 5px;
    }
}
.example-typography {
    position: relative;
    padding-left: 25%;
    margin-bottom: 40px;
}
.example-typography .heading-note,
.example-typography .text-note {
    display: block;
    width: 260px;
    position: absolute;
    bottom: 2px;
    left: 0;
    font-size: 13px;
    line-height: 13px;
    color: #AAB2BD;
    font-weight: 400;
}
.example-typography .text-note {
    bottom: auto;
    top: 10px;
}

/* ----------------------------------
 * btn-group & labels
 * ---------------------------------- */
.blank {
    display: none;
}
@media (max-width: 768px) {
    .blank {
        display: block;
        height: 15px;
    }
}

/* ----------------------------------
 * Admin With Sidebar Layout
 * ---------------------------------- */

.admin-with-sidebar-page {
    background: #ddd;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    padding: 0
}

.admin-with-sidebar-page .wrap, .admin-with-sidebar-page .row {
    height: 100%;
    margin-left:0;
    margin-right:0;
}

.admin-with-sidebar-page .wrap:before, .admin-with-sidebar-page .wrap:after,
.admin-with-sidebar-page .column:before, .admin-with-sidebar-page .column:after {
    content: "";
    display: table;
}

.admin-with-sidebar-page .wrap:after,
.admin-with-sidebar-page .column:after {
    clear: both;
}

.admin-with-sidebar-page .column:before, .admin-with-sidebar-page .column:after {
    content: "";
    display: table;
}

.admin-with-sidebar-page .column:after {
    clear: both;
}

.admin-with-sidebar-page .column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.admin-with-sidebar-page .main {
    background-color: #e9eaed;
    padding-left: 0;
    padding-right: 0;
}

.admin-with-sidebar-page .sidebar {
    padding-top:5px;
    padding-left: 0;
    padding-right: 0;
}

.admin-with-sidebar-page .sidebar, .admin-with-sidebar-page .sidebar a, .admin-with-sidebar-page .sidebar-footer a {
    color:#ffffff;
    background-color: #505050;
    text-shadow:0 0 2px #000000;
}

.admin-with-sidebar-page .sidebar .nav li>a:hover,
.admin-with-sidebar-page .sidebar .nav>li>a:focus {
    background-color:#393939;
}

.admin-with-sidebar-page .sidebar-footer {
    position:absolute;
    bottom:5px;
    margin-left:15px;
}

.admin-with-sidebar-page .glyphicon {
    margin-right: 8px;
}

/* off canvas sidebar */

@media screen and (max-width: 768px) {

    .admin-with-sidebar-page .sidebar {
        min-width: 25px;
    }
    .admin-with-sidebar-page .sidebar a {
        padding-right: 7px;
        padding-left: 7px;
    }
    .admin-with-sidebar-page .glyphicon {
        margin-right: 0;
    }

    .admin-with-sidebar-page .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .admin-with-sidebar-page .row-offcanvas-left.active {
        left: 33%;
    }

    .admin-with-sidebar-page .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: absolute;
        top: 0;
        width: 33%;
    }

    .admin-with-sidebar-page .row-offcanvas-left.active .sidebar-offcanvas a {
        padding-left: 15px;
    }

    .admin-with-sidebar-page .row-offcanvas-left.active .sidebar-offcanvas .glyphicon {
        margin-right: 5px;
    }

}

/* ----------------------------------
 * Form Page Layout
 * ---------------------------------- */

.form-page {
    background: #2089cf;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0
}

.form-page * {
    box-sizing: border-box
}

.form-page .logo {
    display: block;
    height: 75px;
    padding-top: 40px;
    margin: 0 auto 30px
}

.form-page a, .form-page a:visited {
    text-decoration: underline;
    color: inherit
}

.form-page form {
    margin: 0 auto;
    width: 400px;
    padding: 30px;
    border-radius: 3px;
    background: white;
}

.form-page form legend {
    text-align: center;
    font-weight: 300;
    color: #565656;
    margin: 0 auto 35px;
    border: 0;
    font-size: 35px
}

.form-page form ::-webkit-input-placeholder {
    color: #afafaf
}

.form-page .sub {
    text-align: center;
    color: white;
    margin: 20px auto
}

.form-page .sub a {
    font-weight: 600
}

.form-page .sub a:hover {
    color: #E7F1F9
}

.form-page .sub p {
    margin-bottom: 40px
}

@media screen and (max-width: 550px) {
    .form-page .logo {
        height: 65px;
        padding-top: 30px
    }

    .form-page form {
        width: 100%;
        padding: 25px
    }
}

/* ----------------------------------
 * Admin Layout
 * ---------------------------------- */

.admin-page .tab-pane {
    padding: 20px 0 0 0;
}

.admin-page .hint-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.admin-page .form-group .form-group {
    margin-bottom: 0; /*Fix bug for switchs*/
}

.admin-page .input-group .select2-container--krajee{
    width: 100% !important;
}

/* ----------------------------------
 * Dashboard Page
 * ---------------------------------- */
.dashboard-page .panel-number {
    background-color: #3498DB;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
}
.dashboard-page .panel-number .icon-bg {
    position: absolute;
    right: 15px;
    bottom: 0;
    line-height: 85px;
    font-size: 85px;
    /* padding: 5px; */
    margin: 0;
    vertical-align: top;
    opacity: 0.1;
}
.dashboard-page .panel-number a {
    color: #ffffff;
}
.dashboard-page .today-conversion-rate {
    background-color: #9B59B6;
}
.dashboard-page .create-form {
    background-color: #2ECC71;
}

/* ----------------------------------
 * Submissions Page
 * ---------------------------------- */
.submissions-page .panel .panel-heading {
    min-height: 133px;
}
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width : 768px) {
    .submissions-page .panel .panel-heading {
        min-height: 55px;
    }
}
.submissions-page .panel .panel-heading .summary {
    line-height: 34px;
    float: left;
}
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width : 768px) {
    .submissions-page .panel .panel-heading .summary {
        text-align: left;
    }
}
.submissions-page .panel .btn-toolbar>.btn-group {
    max-width: 200px;
    margin-bottom: 10px;
}
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width : 768px) {
    .submissions-page .panel .btn-toolbar>.btn-group {
        margin-bottom: 0;
        float: none;
    }
}
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width : 768px) {
    .submissions-page .panel .btn-toolbar>.input-group {
        max-width: 200px;
    }
}
.submissions-page .panel #loading {
    display: none;
    font-size: 0.714em;
}
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width : 768px) {
    .submissions-page .panel #loading {
        font-size: 1em;
    }
}
.submissions-page .panel .btn-toolbar>.btn-group .btn-for-toggle:first-child {
    display: block;
}
.submissions-page .panel .btn-toolbar>.btn-group .btn-for-toggle:last-child {
    display: none;
    margin-left: 0;
}
.submissions-page .panel ul li label {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
}
.submissions-page .panel>.table-responsive>.table-list>thead>tr>th,
.submissions-page .panel>.table-responsive>.table-list>thead>tr>td{
    vertical-align: middle;
}
.submissions-page .panel>.table-responsive>.table-list>thead>tr>th,
.submissions-page .panel>.table-responsive>.table-list>tbody>tr>td{
    border-left: 0;
}
.submissions-page .panel>.table-responsive>.table-fullsize>thead>tr>th,
.submissions-page .panel>.table-responsive>.table-fullsize>tbody>tr>td{
    min-width: 150px;
}
.submissions-page .panel>.table-responsive>.table-list>thead>tr>th:first-child,
.submissions-page .panel>.table-responsive>.table-list>tbody>tr>td:first-child{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 36px;
    max-width: 36px;
    min-width: 36px;
}
.submissions-page .panel>.table-responsive>.table-list>thead>tr>th:last-child,
.submissions-page .panel>.table-responsive>.table-list>tbody>tr>td:last-child{
    vertical-align: middle;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}
.submissions-page .panel>.table-responsive>.table-detail>tbody>tr>th{
    width: 20%;
}
.submissions-page .panel>.table-responsive>.table-detail>tbody>tr>td{
    /*min-width: 150px*/
}

/* ----------------------------------
 * Analytics Page
 * ---------------------------------- */

.analytics-page .dc-chart {
    float: none;
    display: inline-block;
}

/* Extra small devices (phones, less than 768px) */

#conversion-rates {
    text-align: center;
    margin-top: 15px;
}

#conversion-rates ul {
    list-style: none;
    display: inline-table;
    width: 100%;
    padding: 0;
    margin: 0;
}
#conversion-rates ul li div {
    display: block;
    float: left;
    width: 25%;
    height: 86px;
    background: #1F77B4;
    padding: 10px 0;
    position: relative;
    margin: 0;
    color: #fff;
    border-right: 1px solid #6BAED6;
}
#conversion-rates ul li:first-child div {
    border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}
#conversion-rates ul li:last-child div {
    background-color: #DC137D;
    border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
#conversion-rates ul li div h2 {
    margin: 0;
    font-size: 24px;
}
#conversion-rates ul li div span {
    line-height: 14px;
}
#conversion-rates ul li div span.percentage:after {
    content: "%";
}

/* Small devices (tablets, 768px and up) */

@media only screen and (min-width : 768px) {
    #conversion-rates ul li {
        display: inline;
    }
    #conversion-rates ul li div {
        height: 80px;
        padding: 10px 0 0 40px;
        border: 0;
    }
    #conversion-rates ul li div h2 {
        font-size: 32px;
    }
    #conversion-rates ul li div span {
        line-height: 26px;
    }
    #conversion-rates ul li div:after {
        content: "";
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid #1F77B4;
        position: absolute; right: -40px; top: 0;
        z-index: 1;
    }
    #conversion-rates ul li div:before {
        content: "";
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid #FFF;
        position: absolute; left: 0; top: 0;
    }
    #conversion-rates ul li:first-child div {
        border-top-left-radius: 10px; border-bottom-left-radius: 10px;
    }
    #conversion-rates ul li:first-child div:before {
        display: none;
    }
    #conversion-rates ul li:last-child div {
        background-color: #DC137D;
        border-top-right-radius: 10px; border-bottom-right-radius: 10px;
    }
    #conversion-rates ul li:last-child div:after {
        display: none;
    }
    #conversion-rates ul li div:hover {
        background: #6BAED6;
    }
    #conversion-rates ul li div:hover:after {
        border-left-color: #6BAED6;
    }
    #conversion-rates ul li div span.percentage {
        position: absolute;
        z-index: 2;
        top: 25px;
        right: -15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    #conversion-rates {
        margin-top: 0;
    }

    .analytics-page .row {
        margin-bottom: 30px;
    }

}

/* ----------------------------------
 * Report Page
 * ---------------------------------- */

.report-page .page-header {
    overflow: hidden;
}
.report-page .page-header h1 {
    float: left;
    margin: 0;
}
.report-page .page-header .buttons {
    float: right;
    margin: 0;
}
.report-page .page-header .buttons #enable {
    display: inline-block;
}
.report-page .page-header .buttons #disable {
    display: none;
}
.report-page .panel .panel-heading {
    overflow: hidden;
}
.report-page .panel {
    margin: 0;
}
.report-page .panel .panel-heading .summary {
    float: left;
}
.report-page .modal .required-control .control-label:after {
    content: " *";
    color: #fc4c5e;
}
.report-page .grid-stack-item-content {
    text-align: center;
}
.report-page .editChart, .report-page .deleteChart {
    display: none;
}
.report-page .grid-editable {
    background: lightgoldenrodyellow;
}
.report-page .grid-editable .editChart, .report-page .grid-editable .deleteChart {
    display: inline-block;
    color: #999;
}
.report-page .grid-editable .editChart:hover, .report-page .grid-editable .deleteChart:hover {
    color: #337ab7;
}
.report-page .dc-chart {
    float: none;
    display: inline-block;
}

/* ----------------------------------
 * Theme Page
 * ---------------------------------- */

.theme-index .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}
.theme-index code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
.theme-create .field-theme-css, .theme-create .field-theme-css .help-block,
.theme-update .field-theme-css, .theme-update .field-theme-css .help-block
{
    margin: 0;
}
.theme-create .panel .panel-heading .summary,
.theme-update .panel .panel-heading .summary {
    text-align: left;
}
.theme-create .panel .panel-heading .summary,
.theme-update .panel .panel-heading .summary {
    float: left;
}
.theme-create #editor, .theme-update #editor {
    height: 350px;
}
.theme-create iframe, .theme-create iframe {
    display: block;
}


/* ----------------------------------
 * Account Management Pages
 * ---------------------------------- */
.account-management h3 {
    margin-top: 0;
}