<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Give access to logos" stopProcessing="true">
                    <match url="^(logos)($|/)" ignoreCase="true" />
                    <action type="None" />
                </rule>
                <rule name="Restrict file access to logged in users" stopProcessing="true">
                    <match url="." ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                        <add input="{HTTP_COOKIE}" pattern="^.*_identity.*$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:0}" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>